@model List<EntityLayer.Entities.Product>
@{
    ViewBag.Title = "CriticalStock";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Bilgisi</th>
        <th>Stok Sayısı</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Stock < 50)
        {
            <tr style="background-color: #c52d2d
">
                <td style="color: white;">@item.Name</td>
                <td style="color: white;">@item.Stock</td>
            </tr>
        }
        if (item.Stock == 50)
        {
            <tr style="background-color: #e3c138
">
                <td style="color: black;">@item.Name</td>
                <td style="color: black;">@item.Stock</td>
            </tr>
        }
    }
</table>

